---
layout: default
title: Xentac's Xenophilia
---
<div id="content" class="grid_9 alpha">
{% for post in site.posts limit:5 %}
<article>
<section class="meta prefix_1 grid_1 alpha">
    <div>{{ post.date | date: "%Y" }}</div>
    <div>{{ post.date | date: "%b" }}</div>
    <div>{{ post.date | date: "%d" }}</div>
</section>
<section class="content grid_7 omega">
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<section class="body">
{{ post.content }}
</section>
</section>
<section class="grid_1 alpha">
&nbsp;
</section>
<footer class="prefix_1 grid_7 omega">
<section class="jump-link">
<a href="{{ post.url }}"><img src='http://lh6.ggpht.com/_Kwwy9VyLMKw/TNM2vtbs_8I/AAAAAAAADf4/BTLu9wyCoeI/jump_link.jpg' alt="Read More"></a>
</section>
<section class="text">
<span class="labels">Labels:</span><span class="categories">{{ post.categories | join: ',' }}</span> <span style="margin-left: 10px;" class="comment-link"><a href="{{ post.url }}#disqus_thread" identifier="{{ post.id }}">0 Comments</a></span>
</section>
</footer>
</article>
{% endfor %}
<section class="pager prefix_1 grid_8">
    Older
</section>
</div>

<aside class="grid_2 suffix_1 omega">
<h4>Previous Posts</h4>
<ul class="posts">
{% for post in site.posts limit: 10 %}
    <li>
        » <a href="{{ post.url }}" title="{{ post.date | date: "%Y-%m-%d" }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
<h4 style="margin-top: 28px;">Links</h4>
<ul>
    <li>» <a href="/archive.html">Archive</a></li>
</ul>
</aside>
