<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="A love of the unknown and alliteration">
  <meta name="author" content="Jason Chu">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/960.css">
  <link rel="stylesheet" href="/css/mine.css">
  <link rel="stylesheet" href="/css/tipsy.css">
  <!-- end CSS-->

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

  <div class="container_12">
    <header class="page grid_12">

    </header>
    <nav class="grid_12">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/about.html" title="About Me">About Me</a></li>
        </ul>
    </nav>
    <div id="main" role="main" class="grid_12">
        <header class="grid_12">
            <h1>Xentac's Xenophilia</h1>
            <h2>A love of the unknown and alliteration</h2>
        </header>
{{ content }}
    </div>
    <footer class="page grid_12">
        <section class="links prefix_1 grid_2 alpha">
            <h2>Links</h2>
            <ul>
                <li><a href="http://about.me/jasonchu">about.me</a></li>
                <li><a href="https://plus.google.com/105900404848489720525">Google+</a></li>
                <li><a href="http://twitter.com/xentac">Twitter</a></li>
                <li><a href="http://xentac.blip.tv">blip.tv</a></li>
                <li><a href="https://github.com/xentac">Github</a></li>
            </ul>
        </section>
        <section class="text grid_4">
            <h2>Purpose</h2>
            <p>Why would someone write a blog like this, you ask?  Because that someone felt like writing about things that that someone enjoyed thinking about.  If you have a problem with that, then I suggest you leave.</p>
        </section>
        <section class="othertext suffix_1 grid_4 omega">
            <h2>This space intentionally left blank</h2>
            <p>Check back later!  Maybe this space will have something in it!</p>
        </section>
    </footer>
    <footer class="credits grid_12">
        <section class="copyright prefix_1 grid_5 alpha">
             © Xentac
        </section>
        <nav class="suffix_1 grid_5 omega">
            <ul>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/about.html" title="About Me">About Me</a></li>
            </ul>
        </nav>
    </section>
  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script src="/js/libs/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>


  <!-- scripts concatenated and minified via ant build script-->
  <!--<script defer src="js/plugins.js"></script> -->
  <script defer src="/js/script.js"></script>
  <!-- end scripts-->


  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
