---
layout: default
---

<div id="content" class="grid_9 alpha">
<article>
<section class="meta prefix_1 grid_1 alpha">
    <div>{{ page.date | date: "%Y" }}</div>
    <div>{{ page.date | date: "%b" }}</div>
    <div>{{ page.date | date: "%d" }}</div>
</section>
<section class="content grid_7 omega">
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<section class="body">
{{ content }}
</section>
</section>
<section class="grid_1 alpha">
&nbsp;
</section>
<footer class="prefix_1 grid_7 omega">
<section class="text">
Labels ... Comments ...
</section>
</footer>
<section class="comments">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'xentacsxenophilia'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
</article>
</div>

<aside class="grid_3 omega">
Previous posts
</aside>
