---
layout: default
---

<div id="content" class="grid_9 alpha">
<article>
<section class="meta prefix_1 grid_1 alpha">
    <div>{{ post.date | date: "%Y" }}</div>
    <div>{{ post.date | date: "%b" }}</div>
    <div>{{ post.date | date: "%d" }}</div>
</section>
<section class="content grid_7 omega">
<h1><a href="{{ url }}">{{ title }}</a></h1>
<section class="body">
{{ content }}
</section>
</section>
<section class="grid_1 alpha">
&nbsp;
</section>
<footer class="prefix_1 grid_7 omega">
<section class="text">
Labels ... Comments ...
</section>
</footer>
</article>
</div>

<aside class="grid_3 omega">
Previous posts
</aside>
